#jinja2: trim_blocks: True, lstrip_blocks: True
-- {{ ansible_managed }}

require("mason-lspconfig").setup {
    ensure_installed = {
      {% for item in neovim_lsp_servers %}
        {% if item.enabled and item.auto | default(true) %}
        "{{ item.name }}",
        {% endif %}
      {% endfor %}
    },
    automatic_installation = false,
}
