# path to your oh-my-zsh installation.
export ZSH=~/.oh-my-zsh

export LC_ALL="en_US.UTF-8"

# disable CTRL-s flow control
stty -ixon

ZSH_THEME="avit"

autoload -Uz compinit
compinit

plugins=(zsh-autosuggestions zsh-syntax-highlighting git kubectl)

source $ZSH/oh-my-zsh.sh
